body{
    background-color: azure;
    margin: 50px;
    padding: 50px;
    border: 3px solid rgb(183, 34, 88);
}
nav > ul > li {
    display: inline;
    text-decoration: none;
    margin-right: 30px;
    text-align: center;
    color: brown;
}
nav li > a{
    text-decoration: none;
    text-align: center;
}
footer{
    text-align: center;
    margin-top: 30px;
}
figure{
    text-align: center;
}
label{
    display: block;
    margin-top: 10px;
}
nav li:hover{
   background-color: aqua;
}